.results-panel {
    height: 100%;
    margin: auto;
    padding: 5%;
}

.panel {
    background-color: rgb(53, 53, 53);
    border: 1px solid black;
    border-radius: 5px;
    width: 49%; /* 1% é de imposto */
    min-height: 250px;
    overflow-y: scroll;
    overflow: hidden;
}

#files {
    margin-left: 0;
    margin-right: auto;
    float: left;
}

#lines {
    margin-left: auto;
    margin-right: 0;
    float: right;
}
